<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <todo_instructions>
            <todo_instructions>
                <enabled>0</enabled>
                <allowed_customer_groups>1</allowed_customer_groups>
            </todo_instructions>
        </todo_instructions>
    </default>
</config>
